.about_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.about_text > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about_text > div > p {
  text-align: left;
  max-width: 600px;
}

.about_image > img {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 1170px) {
  .about_content {
    flex-direction: column;
    gap: 64px;
  }

  .about_text {
    gap: 24px;
  }

  .about_text > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .about_text > div > p {
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .about_image > img {
    width: 300px;
  }
}
