#about {
  padding: 112px 0px;
}
#about > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

#about_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--dark-1);
}

#about_content > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about_content > div > p {
  max-width: 600px;
  font-size: 24px;
  font-weight: 400;
  color: var(--dark-2);
}

#about_image > img {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 1170px) {
  #about > div {
    flex-direction: column;
  }

  #about_content > div > p {
    max-width: none;
  }
}

@media screen and (max-width: 615px) {
  #about_image > img {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  #about_image > img {
    width: 300px;
  }

  #about_content > div > p {
    font-size: 1.125rem;
    max-width: none;
  }
}
