.adoptions_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adoptions_content h2 {
  margin-bottom: 16px;
}

.adoptions_content > p {
  margin-bottom: 64px;
  max-width: 55ch;
}

.adoption_cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.adoption_cards > .cards > .card {
  padding: 0;
  /* flex: 1 1 250px; */
  overflow: hidden;
  /* max-width: 432px; */
}

.adoption_cards > .cards > .card > .card_img {
  display: inherit;
  width: 100%;
  position: relative;
}

.card_img img {
  object-fit: cover;
  width: 100%;
  height: 432px;
}

.adoption_cards > .cards > .card > .card_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 134, 86, 0.12);
  z-index: 1;
  pointer-events: none;
}

.card_text {
  padding: 32px;
}

@media screen and (max-width: 600px) {
  .adoption_cards {
    gap: 24px;
  }
  .card_text {
    padding: 24px;
  }
  .adoptions_content > p {
    margin-bottom: 48px;
  }
}
