.data_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data_cards {
  width: 100%;
}
.data_card {
  align-items: center;
  gap: 16px;
  text-align: center;
  flex: 1 1 380px;
}

.data_number {
  font-size: 3rem;
  font-weight: 400;
  color: var(--dark-2);
  position: relative;
}

.data_card::before,
.data_card::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 47px;
  background: url("../../src/images/paw.svg");
  background-size: contain;
}

.data_card::before {
  top: 16px;
  left: 16px;
}

.data_card::after {
  bottom: 16px;
  right: 16px;
  transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
  .data_number {
    font-size: 2.5rem;
  }

  .data_card::before,
  .data_card::after {
    width: 39px;
    height: 38px;
  }
}
