.donation_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation_content h2 {
  margin-bottom: 16px;
}

.donation_content > p {
  margin-bottom: 64px;
}

.donation_cards .cards .card p {
  margin-bottom: 56px;
}

@media screen and (max-width: 600px) {
  .donation_cards .cards .card p {
    margin-bottom: 40px;
  }
}
