#follow {
  padding-top: 80px;
  padding-bottom: 80px;
}
.follow_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-3);
  border: 2px solid var(--neutral-1);
  border-radius: 16px;
  padding: 64px 32px;
}

.follow_content > h2 {
  margin-bottom: 16px;
  text-align: center;
}

.follow_content > p {
  margin-bottom: 48px;
}
.follow_cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  #follow {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .follow_content > p {
    margin-bottom: 32px;
  }
}
