#home {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 82px);
  text-align: center;
}

#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding: 0 24px;
}

#cta .subtitle,
#cta .description {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-2);
}

#cta .subtitle {
  opacity: 0.96;
  margin-bottom: 16px;
}

#cta .description {
  max-width: 864px;
  margin-top: 16px;
}

#cta_buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 64px;
  width: 100%;
}

#cta_buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 1325px) {
  #cta {
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  #home {
    min-height: initial;
  }
  #cta {
    margin-top: 60px;
    margin-bottom: 56px;
  }

  #cta .subtitle,
  #cta .description {
    font-size: 1.125rem;
  }

  #cta_buttons {
    flex-direction: column;
  }
}
