#home {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 82px);
  text-align: center;
}

#cta {
  margin-top: 200px;
  padding: 0 20px;
}

#cta .subtitle,
#cta .description {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-2);
  padding: 16px 0;
}

#cta .subtitle {
  opacity: 0.96;
}

#cta .description {
  max-width: 864px;
  margin: 0 auto;
}

#cta .cta_title {
  font-size: 6rem;
  font-weight: 600;
  color: var(--dark-1);
}

#cta_buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}

#cta_buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 1325px) {
  #cta {
    margin-top: 100px;
  }
}

@media screen and (max-width: 750px) {
  #cta {
    margin-top: 60px;
  }

  #cta .subtitle,
  #cta .description {
    font-size: 1.125rem;
  }

  #cta .cta_title {
    font-size: 2.75rem;
  }

  #cta_buttons {
    flex-direction: column;
  }
}
