.services_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.card {
  position: relative;
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  align-items: start;
  width: 30%;
  background: var(--neutral-3);
  border: 2px solid var(--neutral-1);
  border-radius: 16px;
  padding: 32px;
}

.card .card_icon {
  margin-bottom: 24px;
}

.card h4 {
  margin-bottom: 16px;
}

.services_disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 32px;
  margin-top: 32px;
  background: var(--neutral-3);
  border: 2px solid var(--neutral-1);
  border-radius: 16px;
  text-align: center;
}

.services_disclaimer p {
  max-width: 800px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cards {
    gap: 24px;
  }
  .card {
    padding: 24px;
  }

  .card .card_icon {
    width: 64px;
    margin-bottom: 16px;
  }
}
