@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("header.css ");
@import url("home.css");
@import url("about.css");
@import url("services.css");
@import url("data.css");
@import url("support.css");
@import url("adoptions.css");
@import url("donation.css");
@import url("partners.css");
@import url("team.css");
@import url("follow.css");
@import url("faq.css");
@import url("footer.css");

:root {
  --primary-1: #cf440c;
  --primary-2: #f36b34;
  --primary-3: #ff8656;
  --primary-4: #ffb69a;
  --primary-5: #ffdbcc;

  --secondary-1: #ffd75f;
  --secondary-2: #ffe599;
  --secondary-3: #ffedb8;
  --secondary-4: #fff6db;

  --dark-1: #1c1c1c;
  --dark-2: #4c4c4c;
  --dark-3: #b5b5b5;
  --dark-4: #e6e6e6;
  --dark-5: #ededed;

  --neutral-1: #f5eee5;
  --neutral-2: #fffdfb;
  --neutral-3: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-2);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.btn_default {
  background-color: #ccc;
  padding: 14.5px 24px;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-1);
  background-color: var(--primary-3);
  transition: 0.3s;
}

.btn_default:hover {
  background-color: var(--primary-2);
}

.btn_default.v2 {
  background-color: var(--secondary-4);
  border: 2px solid var(--secondary-2);
}

.btn_default.v2:hover {
  background-color: var(--secondary-3);
  border-color: var(--secondary-1);
}

.btn_full {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.section_title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-1);
  margin-bottom: 16px;
}

.section_subtitle {
  margin-bottom: 64px;
  max-width: 800px;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-2);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section_title {
    font-size: 2rem;
  }

  .section_subtitle {
    margin-bottom: 48px;
    font-size: 1.125rem;
  }
}
