.support_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.support_cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.support_cards .cards .card p {
  margin-bottom: 56px;
}

@media screen and (max-width: 600px) {
  .support_cards .cards .card p {
    margin-bottom: 40px;
  }
}
