.team_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_content > h2 {
  margin-bottom: 16px;
}

.team_content > p {
  margin-bottom: 64px;
}

.team_galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 100%;
}

.galery_item {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--neutral-1);
  border-radius: 20px;
  aspect-ratio: 16 / 10;
}

.galery_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 134, 86, 0.12);
  z-index: 1;
  pointer-events: none;
}

.galery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .team_galery {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media screen and (max-width: 600px) {
  .team_content > p {
    margin-bottom: 48px;
  }
}
